* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fffdf6;
    color: #333;
    line-height: 1.6;
  }
  
  
  header {
    background-color: #300D0D;
    color: wheat;
    padding: 1rem 0;
  }
  
  .navegacao {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: wheat;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffe600;
  }


  .cardapio {
    background: linear-gradient(99deg, rgba(125, 51, 40, 1) 8%, rgba(82, 26, 26, 1) 49%, rgba(61, 26, 19, 1) 64%, rgba(48, 13, 13, 1) 83%);
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .conteudocardapio {
    color: wheat;
    padding: 2rem;
  }
  
  .conteudocardapio h2 {
    font-size: 3rem;
  }
  
  .conteudocardapio p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .nossoslanches,
.nossosacompanhamentos {
  background: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 12vh; 
}

.nossoslanches h1,
.nossosacompanhamentos h1 {
  color: #333; 
  font-size: 4rem; 
  margin: 0; 
  padding: 0; 
}
  
  
  .secao-cardapio-lanches {
    background: wheat;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .itens-cardapio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 22px #300D0D;
  transition: transform 0.5s, box-shadow 0.5s
}
  
  .item {
    background: #fff;
    border-radius: 15px;
    padding: 1.5rem;
    width: 280px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

  .item p {
    flex-grow: 1;
    margin: 1rem 0;
  }
  
  .item h3 {
    color: #ff4747;
  }
  
  .item span {
    font-weight: bold;
    color: #d35400;
    font-size: 1.1rem;
    margin-top: auto;
  }



  .secao-cardapio-complementos {
    background: wheat;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .itens-cardapio-complementos {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .itemcomplemento {
    background: #fff;
    border-radius: 15px;
    padding: 1.5rem;
    width: 280px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }
  
  .itemcomplemento p {
    flex-grow: 1;
    margin: 1rem 0;
  }
  
  .itemcomplemento h3 {
    color: #ff4747;
  }
  
  .itemcomplemento .preco {
    font-weight: bold;
    color: #d35400;
    font-size: 1.1rem;
    margin-top: auto;
  }

  .itemcomplemento:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 22px #300D0D;
  transition: transform 0.5s, box-shadow 0.5s
}


  
  footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 0.9rem;
  }
  
  
 
  